<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>ControllerUsuarioServlet</servlet-name>
    <servlet-class>controllers.ControllerUsuario</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ControllerCategoriaServlet</servlet-name>
    <servlet-class>controllers.ControllerCategoria</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ControllerProdutoServlet</servlet-name>
    <servlet-class>controllers.ControllerProduto</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ControllerUsersServlet</servlet-name>
    <servlet-class>controllers.mongoControllers.ControllerUsers</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ControllerProductsServlet</servlet-name>
    <servlet-class>controllers.mongoControllers.ControllerProducts</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ControllerUsuarioServlet</servlet-name>
    <url-pattern>/usuario</url-pattern>
  </servlet-mapping>    

  <servlet-mapping>
    <servlet-name>ControllerCategoriaServlet</servlet-name>
    <url-pattern>/categoria</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ControllerProdutoServlet</servlet-name>
    <url-pattern>/produto</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ControllerUsersServlet</servlet-name>
    <url-pattern>/users</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ControllerProductsServlet</servlet-name>
    <url-pattern>/products</url-pattern>
  </servlet-mapping>
</web-app>
