<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>ControllerUsuarioServlet</servlet-name>
    <servlet-class>controllers.ControllerUsuario</servlet-class>
  </servlet>  

  <servlet>
    <servlet-name>ControllerProdutoServlet</servlet-name>
    <servlet-class>controllers.ControllerProduto</servlet-class>
  </servlet> 

  <servlet>
    <servlet-name>ControllerOrderServlet</servlet-name>
    <servlet-class>controllers.mongoControllers.ControllerOrder</servlet-class>
  </servlet>    

  <servlet-mapping>
    <servlet-name>ControllerProdutoServlet</servlet-name>
    <url-pattern>/api/products</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ControllerUsersServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ControllerSignInServlet</servlet-name>
    <url-pattern>/signin</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ControllerOrderServlet</servlet-name>
    <url-pattern>/api/orders</url-pattern>
  </servlet-mapping>
    
</web-app>
